@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 50px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

@media (max-width:640px) {
  h1 {
    font-size: 44px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 24px;
  }
}

.container {
  padding: 18px;
}

/* Vectors */

/* vector below call to action */
.vector-1 {
	position: absolute;
  top: -4px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 999;
}

.vector-1 svg {
	position: relative;
	display: block;
	width: calc(126% + 1.3px);
	height: 160px;
}

.vector-1 .shape-fill {
	fill: #009afe;
}